.comments{
    display: flex;
    gap: 2%; /*1rem*/
    margin-top: 1rem;
}

@media(max-width: 1032px ){
    .comments{
        flex-direction: column;
        gap: 1rem;
        margin-top: 0;
        background-color: aliceblue;
    }

    .comment{
        margin-left: auto;
        margin-right: auto;
    }
}


.comment{
    max-width: var(--width);
    padding: 2.5rem;
    border-radius: .7rem;
    background-color: var(--clr-dark);
    color: white;
}

.comment-perfil{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.comment-perfil img{
    border-radius: 50%;
    width: 3rem;
}

.perfil-info{
    line-height: 1.5;
}
.info-name{
    font-weight: 700;
}
.info-status{
    color: var(--clr-verified);
}

.comment-paragraph{
    margin-top: 2rem;
    font-size: .9rem;
    line-height: 1.55rem;
}

.comment:nth-child(2){
    transform: translateY(var(--translate-comment));
}
.comment:nth-child(3){
    transform: translateY(calc(var(--translate-comment)*2));
}

@media(max-width: 1032px ){
    .comment:nth-child(2){
        transform: translateY(0);
    }
    .comment:nth-child(3){
        transform: translateY(0);
        margin-bottom: 10rem;
    }
}
