:root{
    --clr-dark: hsl(300, 43%, 22%); 
    --clr-verified: hsl(333, 80%, 67%);
    --clr-header-p: hsl(303, 10%, 53%);
    --clr-rating: hsl(300, 24%, 96%);
    --perfil-size: 3.4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[class]{
    list-style: none;
}