header h1{
    width: 55%; /*25rem*/
    margin-top: 4rem;
    color: var(--clr-dark);
    font-size: 2.5rem;
}

header p{
    margin-top: .5rem;
    width: 70%; /* 32rem*/
    line-height: 1.5;
    font-weight: 500;
    color: var(--clr-header-p);
}

@media(max-width: 1032px ){
    .header{
        max-width: var(--width);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .header h1{
        margin-left: auto;
        margin-right: auto;
    }
    .header p{
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 60%; 
    }
}
 
@media(max-width: 700px ){

    .header h1{
        width: 95%;
    }
    .header p{
        text-align: left; 
        width: 100%; 
    }
}
 

