.ratings{
    margin-top: 3.5rem;
}
.rating{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    max-width: 28rem; /*28rem*/
    margin-bottom: 1rem;
    padding: 1.4rem;
    border-radius: .5rem;
    background-color: var(--clr-rating);
    color: var(--clr-dark);
    font-size: .85rem;
    font-weight: 700;
}
@media(max-width: 1032px ){
    .ratings{
        margin-top: 0;
    }
    
    .rating{
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--width);
    }
    .rating:nth-child(3){
        margin-bottom: 0;
    }
}

.ratings p{
    margin-left: 1rem;
}

.rating:nth-child(1){
    transform: translateX(-3.75rem);
}
.rating:nth-child(3){
    transform: translateX(3.75rem);
}

@media(max-width: 1032px ){
    .rating:nth-child(1){
        transform: translateX(0);
    }
    .rating:nth-child(3){
        transform: translateX(0);
    }
}

